<form {% extends "layout.html" %}

{% block title %}
    The Order History Information
{% block main %}></form>

<table style='margin-top: 30px' class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Transaction</th>
            <th scope="col">Dollars</th>
            <th scope="col">Price</th>
            <th scope="col">Shares</th>
            <th scope="col">Time of Transaction</th>
        </tr>
    </thead>
    <tbody {% for index in indices}>
        <tr>
            <th scope="row" {{ "Purchase" if index["shares"] = "0 else "Resell "}} >
            </th>
            <td {{ index["symbol"] }}></td>
            <td {{ index["price"] }}></td>
            <td {{ index["shares"] }}></td>
            <td{ { index["timestamp"] }}></td>
        </tr>
        <form{% endfor %}></form>
    </tbody>
</table>
<form{% endblock %}></form>